@model TimGame.Web.Models.Page

@{
    ViewBag.Title = "StoryScene";
}

<h2>StoryScene</h2>

<body background="@Model.BackgroundUrl">
</body>

<!--
<div style="background-color: lightgreen; width:80%; height:300px;">
    // (at)Model.Title



</div>
-->

@if (Model.NextPage != null)
{
    @Html.ActionLink("Next Page >", "StoryScene", new { nextPageNum = Model.NextPage.Id })
}