@model TimGame.Web.Models.Page

@{
    ViewBag.Title = "StoryScene";
}



<div class="hall">
    <img src="/Public/Img/hall.png">
</div>


<div class="bubble">
    <div class="bubblewords"></div>
</div>

<div class="tim">
</div>

<div class="friend">
</div>





@if (Model.NextPage != null)
{
    @Html.ActionLink("Next Page >", "StoryScene", new { nextPageNum = Model.NextPage.Id })
}



@section scripts {
    <script>
        $(function () {
            $(".bubblewords").typed({
                strings: ["First sentence.", "Second sentence."],
                typeSpeed: 0
            });
        });
    </script>
}