
body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}





.scene-background, img {
    width: 100%;
    height: 100%;
    position: relative;
}


.bubble {
    position: relative;
    width: 250px;
    height: 110px;
    padding: 0px;
    background: #0081FF;
    -webkit-border-radius: 59px;
    -moz-border-radius: 59px;
    border-radius: 59px;
    border: #FFFFFF solid 4px;
    bottom: 135px;
    right: 20px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 25px 11px 0;
    border-color: #0081FF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -25px;
    left: 61px;
}

.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 28px 14px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -32px;
    left: 58px;
}

.bubblewords {
    padding: 15px;
    color: white;
}


$sprite-scale: 3.5;

.Tim {
    width: calc(18px * #{$sprite-scale});
    height: calc(36px * #{$sprite-scale});
    background: url("/Public/Img/tim.png") no-repeat calc(-222px * #{$sprite-scale}) 0;
    background-size: calc(431px * #{$sprite-scale}) calc(1204px * #{$sprite-scale});
    position: absolute;
    top: 183px;
    left: 480px;
}

.Friend {
    width: calc(25px * #{$sprite-scale});
    height: calc(38px * #{$sprite-scale});
    background: url('/Public/Img/friend.png') no-repeat calc(-184px* #{$sprite-scale})0;
    background-size: calc(431px * #{$sprite-scale}) calc(1204px * #{$sprite-scale});
    position: absolute;
    top: 170px;
    left: 550px;
}


html {
    background: url("/Public/Img/chalkboard.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
