body {
  /*padding-top: 50px;*/
  /*padding-bottom: 20px;*/ }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

.scene-background, img {
  width: 100%;
  height: 100%;
  position: relative; }


.btn {
  background: #0081FF;
  background-image: -webkit-linear-gradient(top, #0081FF, #0081FF);
  background-image: -moz-linear-gradient(top, #0081FF, #0081FF);
  background-image: -ms-linear-gradient(top, #0081FF, #0081FF);
  background-image: -o-linear-gradient(top, #0081FF, #0081FF);
  background-image: linear-gradient(to bottom, #0081FF, #0081FF);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: #ffffff;
  font-size: 8px;
  padding: 2px 4px 2px 4px;
  border: solid #ffffff 1px;
  text-decoration: none;
    left: 50px;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.btnNext {
  background: #aab844;
  background-image: -webkit-linear-gradient(top, #aab844, #191b1c);
  background-image: -moz-linear-gradient(top, #aab844, #191b1c);
  background-image: -ms-linear-gradient(top, #aab844, #191b1c);
  background-image: -o-linear-gradient(top, #aab844, #191b1c);
  background-image: linear-gradient(to bottom, #aab844, #191b1c);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 2px 4px 2px 4px;
  border: solid #ffffff 1px;
  text-decoration: none;
}

.btnNext:hover {
  background: #bfc431;
  text-decoration: none;
}

.bubble {
  position: relative;
  width: 250px;
  /*height: 210px;*/
  padding: 0px;
  background: #0081FF;
  -webkit-border-radius: 59px;
  -moz-border-radius: 59px;
  border-radius: 59px;
  border: #FFFFFF solid 4px;
  bottom: 115px;
  right: 35px; }

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 25px 11px 0;
  border-color: #0081FF transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -25px;
  left: 61px; }

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 28px 14px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -32px;
  left: 58px; }

.bubblewords {
  padding: 15px;
  color: white; }

.Tim {
  width: calc(18px * 2.7);
  height: calc(36px * 2.7);
  background: url("/Public/Img/tim.png") no-repeat calc(-222px * 2.7) 0;
  background-size: calc(431px * 2.7) calc(1204px * 2.7);
  position: absolute; }

.Friend {
  width: calc(25px * 2.5);
  height: calc(38px * 2.5);
  background: url("/Public/Img/friend.png") no-repeat calc(-184px* 2.5) 0;
  background-size: calc(431px * 2.5) calc(1204px * 2.5);
  position: absolute; }

.TimLocker {
  width: calc(23px * 2.7);
  height: calc(32px * 2.7);
    background: url("/Public/Img/tim.png") no-repeat calc(-324px * 2.7) calc(-42px * 2.7);
    background-size: calc(431px * 2.7) calc(1204px * 2.7);
	position: absolute;
   }

.LockerTron9000 {
    position: absolute;
}

.TimBully {
  width: calc(18px * 2.7);
  height: calc(36px * 2.7);
  background: url("/Public/Img/tim.png") no-repeat calc(-222px * 2.7) 0;
  background-size: calc(431px * 2.7) calc(1204px * 2.7);
  position: absolute; }

.Bully {
    width: calc(25px * 2.9);
	height: calc(39px * 2.9);
    background: url('/Public/Img/bully.png') no-repeat calc(-184px * 2.9) 0;
    background-size: calc(431px * 2.9) calc(1204px * 2.9);
	position: absolute;
}

.TimPunch1 {
  width: calc(22px * 2.7);
  height: calc(36px * 2.7);
  background: url("/Public/Img/tim.png") no-repeat calc(-220px * 2.7) calc(-122px * 2.7);
  background-size: calc(431px * 2.7) calc(1204px * 2.7);
  position: absolute; }

.TimPunch2 {
  width: calc(26px * 2.7);
  height: calc(36px * 2.7);
  background: url("/Public/Img/tim.png") no-repeat calc(-398px * 2.7) calc(-122px * 2.7);
  background-size: calc(431px * 2.7) calc(1204px * 2.7);
  position: absolute; }

.TimVictorious {
  width: calc(22px * 2.7);
  height: calc(36px * 2.7);
  background: url("/Public/Img/tim.png") no-repeat calc(-254px * 2.7) calc(-42px * 2.7);
  background-size: calc(431px * 2.7) calc(1204px * 2.7);
  position: absolute; }

.BullyPunch1 {
    width: calc(27px * 2.9);
	height: calc(39px * 2.9);
    background: url('/Public/Img/bully.png') no-repeat calc(-214px * 2.9) 0;
    background-size: calc(431px * 2.9) calc(1204px * 2.9);
	position: absolute;
}

.BullyPunch2 {
    width: calc(32px * 2.9);
	height: calc(42px * 2.9);
    background: url('/Public/Img/bully.png') no-repeat calc(-74px * 2.9) calc(-133px * 2.9);
    background-size: calc(431px * 2.9) calc(1204px * 2.9);
	position: absolute;
}

.BullyVanquished {
    width: calc(39px * 2.9);
	height: calc(37px * 2.9);
    background: url('/Public/Img/bully.png') no-repeat calc(-106px * 2.9) calc(-172px * 2.9);
    background-size: calc(431px * 2.9) calc(1204px * 2.9);
	position: absolute;
}

.TimWalk {
  width: calc(22px * 2.7);
  height: calc(36px * 2.7);
  background: url("/Public/Img/tim.png") no-repeat calc(-325px * 2.7) 0;
  background-size: calc(431px * 2.7) calc(1204px * 2.7);
  position: absolute; }

html {
  background: url("/Public/Img/chalkboard.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

