body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}





.scene-background, img {
   width: 100%;
   height: 100%;
}

.bubble {
    position: relative;
    width: 250px;
    height: 120px;
    padding: 0px;
    background: #2460FF;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    border: #D4DCFF solid 6px;
}

    .bubble:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 19px 15px 0;
        border-color: #2460FF transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -19px;
        left: 159px;
    }

    .bubble:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 24px 20px 0;
        border-color: #D4DCFF transparent;
        display: block;
        width: 0;
        z-index: 0;
        bottom: -30px;
        left: 154px;
    }

.bubblewords {
    padding: 15px;
    color: white;
}
.tim {
    width: 16px;
    height: 32px;
    background: url("/Public/Img/tim.png") no-repeat -223px -2px;
    }

.friend {
    background: url('/Public/Img/friend.png') no-repeat -184px -2px;
	width: 16px;
	height: 32px;
    -ms-background-size: 50px 100px;
    background-size: 50px 100px;
    display: inline-block;
     overflow: hidden;

}


