body {
  padding-top: 50px;
  /*padding-bottom: 20px;*/
  background-color: #f5f5f5;
  background-color: rgba(245, 245, 245, 0); }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

.scene-background, img {
  width: 100%;
  height: 100%;
  position: relative; }

.btn {
  background: #0081FF;
  background-image: -webkit-linear-gradient(top, #0081FF, #0081FF);
  background-image: -moz-linear-gradient(top, #0081FF, #0081FF);
  background-image: -ms-linear-gradient(top, #0081FF, #0081FF);
  background-image: -o-linear-gradient(top, #0081FF, #0081FF);
  background-image: linear-gradient(to bottom, #0081FF, #0081FF);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: #ffffff;
  font-size: 8px;
  padding: 2px 4px 2px 4px;
  border: solid #ffffff 1px;
  text-decoration: none;
  left: 50px; }

.btn:hover {
  background: #3cb0fd;
  text-decoration: none; }

.btnNext {
  background: #aab844;
  background-image: -webkit-linear-gradient(top, #aab844, #191b1c);
  background-image: -moz-linear-gradient(top, #aab844, #191b1c);
  background-image: -ms-linear-gradient(top, #aab844, #191b1c);
  background-image: -o-linear-gradient(top, #aab844, #191b1c);
  background-image: linear-gradient(to bottom, #aab844, #191b1c);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 2px 4px 2px 4px;
  border: solid #ffffff 1px;
  text-decoration: none; }

.btnNext:hover {
  background: #bfc431;
  text-decoration: none; }

.bubble {
  position: relative;
  width: 250px;
  height: 110px;
  padding: 0px;
  background: #0081FF;
  -webkit-border-radius: 59px;
  -moz-border-radius: 59px;
  border-radius: 59px;
  border: #FFFFFF solid 4px;
  bottom: 135px;
  right: 20px; }

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 25px 11px 0;
  border-color: #0081FF transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -25px;
  left: 61px; }

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 28px 14px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -32px;
  left: 58px; }

.bubblewords {
  padding: 15px;
  color: white; }

.bubbleSide {
  position: relative;
  width: 240px;
  /*height: 120px;*/
  padding: 0px;
  background: #0081FF;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  border-radius: 29px;
  border: #FFFFFF solid 3px; }

.bubbleSide:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent #0081FF;
  display: block;
  width: 0;
  z-index: 1;
  left: -10px;
  top: 31px; }

.bubbleSide:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 12px 7px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 0;
  left: -15px;
  top: 29px; }

.Tim {
  width: calc(18px * 3.8);
  height: calc(36px * 3.8);
  background: url("/Public/Img/tim.png") no-repeat calc(-222px * 3.8) 0;
  background-size: calc(431px * 3.8) calc(1204px * 3.8);
  position: absolute; }

.Friend {
  width: calc(25px * 3.8);
  height: calc(38px * 3.8);
  background: url("/Public/Img/friend.png") no-repeat calc(-184px* 3.8) 0;
  background-size: calc(431px * 3.8) calc(1204px * 3.8);
  position: absolute; }

.TimLocker {
  width: calc(23px * 3.8);
  height: calc(32px * 3.8);
  background: url("/Public/Img/tim.png") no-repeat calc(-324px * 3.8) calc(-42px * 3.8);
  background-size: calc(431px * 3.8) calc(1204px * 3.8);
  position: absolute; }

.LockerTron9000 {
  position: absolute; }

.TimBully {
  width: calc(18px * 2.7);
  height: calc(36px * 2.7);
  background: url("/Public/Img/tim.png") no-repeat calc(-222px * 3.8) 0;
  background-size: calc(431px * 3.8) calc(1204px * 3.8);
  position: absolute; }

.Bully {
  width: calc(25px * 2.9);
  height: calc(39px * 2.9);
  background: url("/Public/Img/bully.png") no-repeat calc(-184px * 4.2) 0;
  background-size: calc(431px * 4.2) calc(1204px * 4.2);
  position: absolute; }

.TimPunch1 {
  width: calc(22px * 2.7);
  height: calc(36px * 2.7);
  background: url("/Public/Img/tim.png") no-repeat calc(-220px * 3.8) calc(-122px * 3.8);
  background-size: calc(431px * 3.8) calc(1204px * 3.8);
  position: absolute; }

.TimPunch2 {
  width: calc(26px * 2.7);
  height: calc(36px * 2.7);
  background: url("/Public/Img/tim.png") no-repeat calc(-398px * 3.8) calc(-122px * 3.8);
  background-size: calc(431px * 3.8) calc(1204px * 3.8);
  position: absolute; }

.TimVictorious {
  width: calc(22px * 2.7);
  height: calc(36px * 2.7);
  background: url("/Public/Img/tim.png") no-repeat calc(-254px * 3.8) calc(-42px * 3.8);
  background-size: calc(431px * 3.8) calc(1204px * 3.8);
  position: absolute; }

.BullyPunch1 {
  width: calc(27px * 2.9);
  height: calc(39px * 2.9);
  background: url("/Public/Img/bully.png") no-repeat calc(-214px * 4.2) 0;
  background-size: calc(431px * 4.2) calc(1204px * 4.2);
  position: absolute; }

.BullyPunch2 {
  width: calc(32px * 2.9);
  height: calc(42px * 2.9);
  background: url("/Public/Img/bully.png") no-repeat calc(-74px * 4.2) calc(-133px * 4.2);
  background-size: calc(431px * 4.2) calc(1204px * 4.2);
  position: absolute; }

.BullyVanquished {
  width: calc(39px * 2.9);
  height: calc(37px * 2.9);
  background: url("/Public/Img/bully.png") no-repeat calc(-106px * 4.2) calc(-172px * 4.2);
  background-size: calc(431px * 4.2) calc(1204px * 4.2);
  position: absolute; }

.TimWalk {
  width: calc(22px * 2.7);
  height: calc(36px * 2.7);
  background: url("/Public/Img/tim.png") no-repeat calc(-325px * 3.8) 0;
  background-size: calc(431px * 3.8) calc(1204px * 3.8);
  position: absolute; }

.Teacher {
  position: absolute; }

html {
  background: url("/Public/Img/chalkboard.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

